body {
    font-family: Helvetica, Arial, sans-serif;
}

p {
    margin: 0;
    margin-bottom: 10px;
}

.live-label {
    font-size: 12px;
    color: red;
}

.live-label span {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
}

h3 {
    margin: 0;
    margin-bottom: 5px;
}

.stations {
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
}

.terminus {
    font-size: 10px;
    text-transform: uppercase;
}
