<div id="main">
    <h1><i class="fa fa-train"></i>&nbsp;Prochains passages</h1>
    <a href="/arrets" class="stations">Liste des stations</a>
    <br>
    <p class="live-label"><span></span> DIRECT</p>
    {{#each times}}
    <h3>Ligne {{ ligne.numLigne }}</h3>
    <p><span class="terminus">Terminus</span> {{ terminus }}: {{ temps }}</p>
    {{/each}}
</div>
