<div id="main">
    <h1>Pétrels</h1>
    <p>Direction Fac de droit</p>
    <br>
    <p>Prochain passage : <span id="next">**</span> min</p>
    <a id="link" href="#" onClick="call()">Refresh</a><div id="refresh"></div>
</div>
